{% extends 'base.html.twig' %} {% block body %}

    <div class="container">

        <div class="row">

            <div class="col-md-12">

                <h2>Surveys</h2>
                <hr>
            </div>
        </div>
    </div>

{% endblock %}